body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(255, 191, 191), white, rgb(255, 163, 58));
    height: 100vh;
}

.relogio {
    display: flex;
    width: 600px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    padding: 30px;
    box-shadow: 5px 7px 10px rgb(131, 131, 131); /* cria uma sombra na div */
}

p {
    font-size: 150px;
    font-weight: bold;
    color: rgb(255, 163, 58);
}

.relogio div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    background: rgb(255, 109, 109);
    border-radius: 15px;
}

.relogio div p {
    color: rgb(255, 255, 255);
}