<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Layout</title>
</head>
<body>
    <div id="parte_de_cima">
        <div>A</div>
        <div>B</div>
        <div>C</div>
    </div>
    <div id="parte_de_baixo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sint veniam quos maiores nesciunt aperiam necessitatibus, harum vero. Illum cupiditate mollitia accusantium pariatur vel nobis numquam, laboriosam reprehenderit culpa ullam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur saepe aperiam, fuga libero deleniti repellat facere minus rerum excepturi officiis quae atque quos autem hic a corrupti iure. Dolor!</p>
    </div>
</body>
</html>