body {
    background: linear-gradient(black, rgb(145, 145, 145));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#central {
    background: white;
    width: 200px;
    border-radius: 10px;
    /* usado para deixar as bordas dos objetos arredondadas */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* para deixar as divs em ordem de coluna */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#central button {
    background: rgb(255, 255, 180);
}