@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --blue-50: #6495ED;
    --blue-100: #0000FF;
    --blue-200: #000080;

    --color-gradient: linear-gradient(90deg, var(--blue-50), var(--blue-100), var(--blue-200));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

.social-media img {
    width: 35px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
}

.login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--color-light-50);
    gap: 30px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.336);
    animation: dark-to-light 0.3s ease-in-out;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header i {
    font-size: 19px;
}

.form-header i:hover {
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.social-media img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-bottom: 2px solid var(--blue-100);
    border-radius: 2px;
}

.input-field i {
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field input {
    border: none;
    background: transparent;
    font-size: 18px;
    outline: none;
}

.forgot-password a {
    text-decoration: none;
    font-size: 14px;
    color: var(--color-dark-50);
}

.forgot-password a:hover {
    color: var(--color-purple-50);
}

#login-button {
    border: none;
    background: var(--color-gradient);
    height: 40px;
    border-radius: 2px;
    font-size: 18px;
    color: var(--color-light-50);
}

#login-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.dark.login-form {
    color: var(--color-light-50);
    background: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}

.dark.login-form .input-field input,
.dark.login-form .input-field i {
    color: var(--color-light-50);
}

@keyframes dark-to-light {
    0% {
        background: var(--color-dark-100);
        color: (var(--color-dark-100));
    }
    
    100% {
        background: var(--color-light-50);
        color: (var(--color-light-50));
    }
}

@keyframes light-to-dark {
    0% {
        color: (var(--color-light-50));
        background: var(--color-light-50);
    }

    100% {
        color: (var(--color-dark-100));
        background: var(--color-dark-100);
    }
}